.colorprint {
  border: 1px solid black;
  width: 1250px;
  height: 200px;
}
.button {
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
}
.star1 {
  background-color: #f1f9fe;
  color: black;
  cursor: pointer;
}
.star2 {
  background-color: #e2f2fc;
  color: black;
  cursor: pointer;
}
.star3 {
  background-color: #bfe4f8;
  color: black;
  cursor: pointer;
}
.star4 {
  background-color: #87cff2;
  color: black;
  cursor: pointer;
}
.star5 {
  background-color: #53bcea;
  color: black;
  cursor: pointer;
}
.star6 {
  background-color: #209ed7;
  color: black;
  cursor: pointer;
}
.star7 {
  background-color: #127fb7;
  color: black;
  cursor: pointer;
}
.star8 {
  background-color: #106594;
  color: black;
  cursor: pointer;
}
.star9 {
  background-color: #11567b;
  color: black;
  cursor: pointer;
}
.star10 {
  background-color: #144866;
  color: black;
  cursor: pointer;
}
.star11 {
  background-color: #0d2e44;
  color: black;
  cursor: pointer;
}
