.post {
  font-weight: 700;
  text-align: center;
  border: 1px solid gray;
  border-radius: 90px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  background-color: white;
}
.hotel {
  background-color: aqua;
  color: white;
}
