.text {
  color: skyblue;
}
/* 마우스 올리면 아래꺼 적용됨 */
.text:hover {
  background-color: pink;
  font-size: 30px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: cyan;
  border: 1px solid cyan;
  /* [transform] 변형 관련 */
  /* transform: rotate(45deg) scale(2); */
  /* opacity = 투명도 */
  /* opacity: 0.3; */
  /* 마우스 올리면 사라지기 */

  /* 변형이 일어 날 때, 어떻게 적용시킬지 */
  /* all 1s(어떠한 변화가 일어날때 몇 초 걸리게 함 */
  transition: all 10s;
}
.box:hover {
  /* background-color: blueviolet;
  border-radius: 9999px;
  opacity: 0.3; */
  transform: rotate(45deg) scale(2);
}
